.f-family
{
    font-family: Angsana New, Franklin Gothic Heavy, Franklin Gothic Book!important;
    font-size: 25px;
}
.bg-blue
{
    background-color: #005883!important;
}
.bg-yellow
{
    background-color: #F0B429!important;
}
.bg-orange
{
    background-color: #F47920!important;
}
.bg-dark-gray
{
    background-color: #333333!important;
}
.bg-gray
{
    background-color: #808080!important;
}
.bg-light-gray
{
    background-color: #B3B3B3!important;
}
.bg-black
{
    background-color: #000
}
.f-blue
{
    color: #005883!important;
}
.f-yellow
{
    color: #F0B429!important;
}
.f-orange
{
    color: #F47920!important;
}
.f-dark-gray
{
    color: #333333!important;
}
.f-gray
{
    color: #808080!important;
}
.f-light-gray
{
    color: #B3B3B3!important;
}
.f-white
{
    color: #FFF!important;
}
.navbar-default
{
    background-color: #005883!important;
    background-image: none;
    background-repeat: no-repeat;
}
.navbar-default a
{
    color: #FFF!important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    background-color: #808080!important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .dropdown-menu
{
    background-color: #B3B3B3!important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
    background-color: #005883!important;
}
html
{
    position: relative;
    min-height: 100%;
}
body
{
    margin-bottom: 100px!important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #B3B3B3;
}
.text-align-right
{
    text-align: right;
}
.text-align-center
{
    text-align: center;
}
.footer .logo-unad
{
    float: left;
    margin-top: 25px;
}